1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [4]:
# Kerjakan nomor 1 di sini
for angka in range (1, 51):
    print (angka, "^2 = ", angka**2)

1 ^2 =  1
2 ^2 =  4
3 ^2 =  9
4 ^2 =  16
5 ^2 =  25
6 ^2 =  36
7 ^2 =  49
8 ^2 =  64
9 ^2 =  81
10 ^2 =  100
11 ^2 =  121
12 ^2 =  144
13 ^2 =  169
14 ^2 =  196
15 ^2 =  225
16 ^2 =  256
17 ^2 =  289
18 ^2 =  324
19 ^2 =  361
20 ^2 =  400
21 ^2 =  441
22 ^2 =  484
23 ^2 =  529
24 ^2 =  576
25 ^2 =  625
26 ^2 =  676
27 ^2 =  729
28 ^2 =  784
29 ^2 =  841
30 ^2 =  900
31 ^2 =  961
32 ^2 =  1024
33 ^2 =  1089
34 ^2 =  1156
35 ^2 =  1225
36 ^2 =  1296
37 ^2 =  1369
38 ^2 =  1444
39 ^2 =  1521
40 ^2 =  1600
41 ^2 =  1681
42 ^2 =  1764
43 ^2 =  1849
44 ^2 =  1936
45 ^2 =  2025
46 ^2 =  2116
47 ^2 =  2209
48 ^2 =  2304
49 ^2 =  2401
50 ^2 =  2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [23]:
# Kerjakan nomor 2 di sini

mahasiswa = ["daffa", "ilham", "rafif", "ryan", "yusuf", "fahriza", "raisa", "pradipta", "abid", "naufal"]
nama = input("Masukkan nama yang ingin dicari: ")
nama = nama.lower()
for i in mahasiswa:
    if nama == i:
        print (i)
        print("Pencarian anda sudah berakhir")
        break

ilham
Pencarian anda sudah berakhir

3. Disajikan list sebagai berikut

In [ ]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [37]:
# kerjakan nomor 3 di sini
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

x = 0
for i in bulan:
    if i in ['april', 'mei']:
        print(f"Robert di bulan {i} akan beristirahat")
        continue
    print("Robert akan mengadakan konser di", kota[x], f"pada bulan bulan {i}")
    x = x+1
    if x== 8:
        break

Robert akan mengadakan konser di jakarta pada bulan bulan januari
Robert akan mengadakan konser di kuala lumpur pada bulan bulan februari
Robert akan mengadakan konser di bangkok pada bulan bulan maret
Robert di bulan april akan beristirahat
Robert di bulan mei akan beristirahat
Robert akan mengadakan konser di seoul pada bulan bulan juni
Robert akan mengadakan konser di canada pada bulan bulan juli
Robert akan mengadakan konser di london pada bulan bulan agustus
Robert akan mengadakan konser di dubai pada bulan bulan september
Robert akan mengadakan konser di barcelona pada bulan bulan oktober